<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>GradleUpdate</title>
  <meta name="description"
        content="GradleUpdate keeps the latest Gradle wrapper on your GitHub repositories by pull requests automatically"/>
  <head th:include="fragments/header :: stylesheets" th:remove="tag"></head>
</head>
<body>

<nav th:replace="fragments/header :: #navbar"></nav>

<div class="container">
  <section class="text-center">
    <div class="jumbotron">
      <h1>GradleUpdate</h1>
      <p>keeps the latest Gradle wrapper on your GitHub repositories</p>
      <p>
        <img src="/int128/latest-gradle-wrapper/status.svg"/>
      </p>
    </div>
  </section>
  <section class="text-center">
    <form th:method="post" th:action="@{/landing}">
      <div class="form-group">
        <label for="github-url">
          Paste GitHub Repository URL
        </label>
        <input type="text" id="github-url" name="url"
               class="form-control text-center input-lg input-text-monospace"
               placeholder="https://github.com/int128/gradleupdate"/>
      </div>
      <button type="submit" class="btn btn-primary">GO</button>
    </form>
  </section>
</div>

<section th:replace="fragments/footer :: #footer"></section>

</body>
</html>
