<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="repositories" type="java.util.List<org.eclipse.egit.github.core.Repository>"*/-->

<head>
  <title>GradleUpdate</title>
  <head th:include="fragments/header :: stylesheets" th:remove="tag"></head>
</head>
<body>

<nav th:replace="fragments/header :: #navbar"></nav>

<div class="container">
  <section>
    <table class="table">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="repository: ${repositories}">
          <td>
            <a th:href="|/${repository.owner.login}/${repository.name}/status|" th:text="|${repository.owner.login}/${repository.name}|"></a>
            -
            <span th:text="${repository.description}"></span>
          </td>
          <td>
            <a th:href="|/${repository.owner.login}/${repository.name}/status|">
              <img th:src="|/${repository.owner.login}/${repository.name}/status.svg|" alt="badge"/>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<section th:replace="fragments/footer :: #footer"></section>

</body>
</html>
