<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="user" type="org.eclipse.egit.github.core.User"*/-->

<head>
  <title th:text="|${user.login} - GradleUpdate|"></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr"
        crossorigin="anonymous"/>
  <link th:href="@{/app.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GradleUpdate</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <section class="text-center">
    <div class="jumbotron">
      <img th:src="${user.avatarUrl}" alt="avatar" width="160" height="160" class="img-circle"/>
      <h2 th:text="|${user.name}|"></h2>
      <p th:text="|@${user.login}|"></p>
    </div>
  </section>
</div>

<section id="footer">
  <div class="jumbotron text-center">
    <p>GradleUpdate &copy; Hidetake Iwata</p>
  </div>
</section>

</body>
</html>
