<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="user" type="org.eclipse.egit.github.core.User"*/-->

<head>
  <title th:text="|${user.login} - GradleUpdate|"></title>
  <head th:include="fragments/header :: stylesheets" th:remove="tag"></head>
</head>
<body>

<nav th:replace="fragments/header :: #navbar"></nav>

<div class="container">
  <section class="text-center">
    <div class="jumbotron">
      <img th:src="${user.avatarUrl}" alt="avatar" width="160" height="160" class="img-circle"/>
      <h2 th:text="|${user.name}|"></h2>
      <p th:text="|@${user.login}|"></p>
    </div>
  </section>
</div>

<section th:replace="fragments/footer :: #footer"></section>

</body>
</html>
