<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="repository" type="org.eclipse.egit.github.core.Repository"*/-->
<!--/*@thymesVar id="pullRequest" type="org.hidetake.gradleupdate.domain.PullRequestForUpdate"*/-->

<head>
  <title th:text="|${repository.owner.login}/${repository.name} - GradleUpdate|"></title>
  <head th:include="fragments/header :: stylesheets" th:remove="tag"></head>
</head>
<body>

<nav th:replace="fragments/header :: #navbar"></nav>

<div class="container">
  <section class="text-center">
    <div class="jumbotron">
      <img th:src="${repository.owner.avatarUrl}" alt="avatar" width="160" height="160" class="img-circle"/>
      <h2 th:text="|${repository.description}|"></h2>
      <p th:text="|${repository.owner.login}/${repository.name}|"></p>
      <p>
        <img th:src="|/${repository.owner.login}/${repository.name}/status.svg|" alt="badge"/>
      </p>
      <form>
        <label class="text-uppercase" for="badge-markdown">Markdown:</label>
        <input type="text" id="badge-markdown" class="form-control input-text-monospace"
               th:value="|[![Gradle Status](${#httpServletRequest.requestURL}.svg)](${#httpServletRequest.requestURL})||"/>
      </form>
    </div>
  </section>

  <section class="text-center">
    <h3>Pull Request for Update</h3>

    <div th:if="${pullRequest} == null">
      <form th:action="@{./update}" method="post">
        <input type="submit"
               th:value="|Check Version|"
               class="btn btn-default"/>
      </form>
    </div>

    <div th:if="${pullRequest} != null">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>
            <a th:href="${pullRequest.raw.htmlUrl}" target="_blank">
              #<span th:text="${pullRequest.raw.number}"></span> <span th:text="${pullRequest.raw.title}"></span>
            </a>
          </h4>
          <p th:text="${pullRequest.raw.bodyText}"></p>
        </div>
        <div th:if="${pullRequest.state} == pullRequest.State.OPEN_BRANCH_OUT_OF_DATE">
          <hr/>
          <form th:action="@{./update}" method="post">
            <input type="submit"
                   th:value="|Rebase onto the latest branch|"
                   class="btn btn-default"/>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<section th:replace="fragments/footer :: #footer"></section>

</body>
</html>
