.jumbotron {
  background: none;
}

.input-text-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  text-align: center;
}

#footer {
  text-align: center;
  margin-top: 60px;
  color: #888;
}
